@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

html, body{
    color: white;
}
.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
  }
  
  .header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
  }


.SearchBox {
    background: #000;
    display: flex;
    border: 1px solid #12f79f;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 40px;
    margin: 10px auto;
    width: 482px;
    color : white;
  }
  .SearchBox:hover {
    box-shadow: 0 1px 6px 0 #12f79f;
    border-color: #12f79f;
  }
  .SearchBox > div {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
  }
  .SearchIcon {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin: -2px auto 0;
  }
  .SearchIcon > span {
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    margin-top: -5px;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
  }
  svg:not(:root) {
    overflow: hidden;
  }
  .SearchIcon > span svg {
    display: block;
    height: 100%;
    width: 100%;
  }
  .InputBox {
    flex-wrap: wrap;
    background-color: transparent;
    border: none;
    margin-right: 10px;
    padding: 0;
    word-wrap: break-word;
    outline: none;
    display: flex;
    -webkit-tap-highlight-color: transparent;
    line-height: 32px;
    background-size: 20px 20px;
    height: 20px;
    width: 27px;
    margin-top: 0;
    color: transparent;
    flex: 100%;
    white-space: pre;
  }
  .InputBox > div {
    color: transparent;
    flex: 100%;
    white-space: pre;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
  }
  .InputBox > input {
    background-color: transparent;
    border: none;
    margin-top: -35px;
    margin-right: 10px;
    padding: 0;
    color: rgba(0, 0, 0, 0.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
  }
  
  
  
  h2{
    -webkit-text-stroke: 1px rgb(18, 247, 159);
    margin-left: 25px;
    font-family: 'Megrim', cursive;
    color: black;
    
  }